<mat-card class="card login-card">
  <mat-card-header class="card__header">
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submitForm()">
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>

      @if (facade.error()) {
      <p class="error-message">{{ facade.error() }}</p>
      }

      <button
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="form.invalid || facade.processing()"
      >
        Login
      </button>
    </form>
  </mat-card-content>
</mat-card>
