mat-toolbar {
  color: var(--mat-sys-primary);
  background: var(--mat-sys-primary-container);
}

mat-icon {
  color: var(--mat-sys-primary);
}

main {
  padding: 1rem;
  color: var(--mat-sys-on-surface);
}
