<form [formGroup]="form" (ngSubmit)="submitForm()">
  <mat-form-field appearance="fill">
    <mat-label>Username</mat-label>
    <input matInput formControlName="username" />
    @if (usernameControl && usernameControl.hasError('required')) {
    <mat-error>Username is required</mat-error>
    } @if (usernameControl && usernameControl.hasError('userName')) {
    <mat-error>Username can't contain <strong>test</strong> keyword</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Role</mat-label>
    <mat-select formControlName="role">
      @for (role of roles; track role) {
      <mat-option [value]="role.value">{{ role.name }}</mat-option>
      }
    </mat-select>
    @if (roleControl && roleControl.hasError('required')) {
    <mat-error>Role is required</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input
      matInput
      type="password"
      formControlName="password"
      autocomplete="off"
    />
    @if (passwordControl && passwordControl.hasError('required')) {
    <mat-error>Password is required</mat-error>
    }
  </mat-form-field>

  @if (facade.error()) {
  <p class="error-message">{{ facade.error() }}</p>
  }

  <div class="actions">
    <button
      mat-flat-button
      color="primary"
      type="submit"
      [disabled]="form.invalid || facade.loading()"
    >
      Save
    </button>
    <button mat-stroked-button type="button" (click)="cancel.emit()">
      Cancel
    </button>
  </div>
</form>
