@use "@angular/material" as mat;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: var(--mat-sys-surface);

  @include mat.theme(
    (
      color: (
        theme-type: dark,
        primary: mat.$magenta-palette,
        tertiary: mat.$violet-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );

  &.light-theme {
    @include mat.theme(
      (
        color: (
          theme-type: light,
          primary: mat.$azure-palette,
          tertiary: mat.$blue-palette,
        ),
        typography: Roboto,
        density: 0,
      )
    );
  }
}

.flex-spacer {
  flex: 1 1 auto;
}

.card {
  padding: 1rem;

  &__header {
    padding: 1rem !important;
  }
}

.error-message {
  color: var(--mat-sys-error);
  margin: 0;
}
