html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: var(--mat-sys-surface);
}

.flex-spacer {
  flex: 1 1 auto;
}

.card {
  padding: 1rem;

  &__header {
    padding: 1rem !important;
  }
}

.error-message {
  color: var(--mat-sys-error);
  margin: 0;
}
